.Contents
  .Container
    %h1 ネタを編集する
    = form_with model: @note, class: "Form", local:true do |form|
      -if @note.errors.any? 
        -if @note.errors.include?(:theme) 
          %p.alert-valid
            =@note.errors.full_messages_for(:theme).first
        %h2 テーマ
        = form.text_field :theme, placeholder: "ネタのテーマ(スポーツ, 旅行, 季節 , 趣味, etc...)                 30文字以内", class:"Form__theme"
        


        -if @note.errors.include?(:details) 
          %p.alert-valid
            =@note.errors.full_messages_for(:details).first 
        %h2 詳細
        = form.text_area :details,placeholder: "ちょっとしたネタ(その日あった出来事, 読んだ本, etc...)      500文字以内" ,  class: "Form__details"
        -if @note.errors.include?(:details) 
          %p 
            =@note.errors.full_messages_for(:details).first 
        = form.submit value:"編集する", class: "Graph-form__btn"
        

        

      -else

        %h2 テーマ
        = form.text_field :theme, placeholder: "ネタのテーマ(スポーツ, 旅行, 季節 , 趣味, etc...)                 30文字以内", class:"Form__theme"
        %h2 詳細
        = form.text_area :details,placeholder: "ちょっとしたネタ(その日あった出来事, 読んだ本, etc...)      500文字以内" ,  class: "Form__details"
        = form.submit value:"編集する", class: "Graph-form__btn"